/* ------------------------------------------------------
content
------------------------------------------------------ */
.pages #content .section:not(:last-child) {
    padding: 0 0px 55px 0;
}

.pages #content .section .section {
    padding-top: 30px;
}

.pages #content .section p:last-child {
    margin-bottom: 0;
}

/* ------------------------------------------------------
manivisual
------------------------------------------------------ */
#p_mv {
    height: 480px;
    background: url('../images/company/company_banner.jpg') center /cover;
    width: 100%;
    display: flex;
    position: relative;
}

#p_mv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#p_mv .inner {
    margin: auto;
}

#p_mv h2 {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 62px;
    font-weight: 600;
}

#p_mv span {
    display: block;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 22px;
    line-height: 1.75;
}

#p-outline {
    padding: 92px 0 0 0;
}

#p-outline .inner {
    max-width: 1000px;
}

#p-outline .outline_table {
    margin-top: 36px;
}

#p-access {
    padding: 8.2vw 0 11.6vw 0;
}

#p-access .inner {
    max-width: 100%;
    width: 100%;
}

#p-access .access_map {
    margin-top: 38px;
}

#p-access .access_map iframe {
    width: 100%;
    height: 63.2vh;
}

/* ------------------------------------------------------
h3 h4 h5 h6
------------------------------------------------------ */
.pages h3.pages_title {
    font-size: 42px;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: var(--roboto);
    padding-bottom: 49px;
}

.pages h3.pages_title span {
    display: block;
    font-family: var(--jp-font);
    font-size: 15px;
}

.pages h3,
.pages h4,
.pages h5,
.pages h6 {
    font-weight: 700;
}

/* ------------------------------------------------------
topic_path
------------------------------------------------------ */
.pages #topic_path {
    margin: 0 0 67px;
}

.pages #topic_path ul {
    padding: 38px 0 0;
    box-sizing: border-box;
}

.pages #topic_path li {
    display: inline-block;
    color: #3e3a39;
    font-size: 14px;
    line-height: 1.4;
}

.pages #topic_path li a {
    text-decoration: underline;
    color: #e06277;
}

.pages #topic_path li a:hover {
    text-decoration: none;
}

/* ------------------------------------------------------
table
------------------------------------------------------ */
.pages table {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.pages table td,
.pages table th {
    padding: 32px 20px 32px;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.pages table tr:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.pages table th {
    text-align: left;
    width: 21%;
}

.pages table.td_top td {
    vertical-align: top;
}

.pages table.td_center td {
    text-align: center;
}

.pages table.tb_fix {
    table-layout: fixed;
}

.pages #content table:last-child {
    margin-bottom: 0;
}

/*-----txt_note-----*/
.pages .txt_note {
    display: none;
}

.pages .txt_bold {
    font-weight: bold;
}

/* ------------------------------------------------------
under list
------------------------------------------------------ */
.pages .list01 li {
    margin-bottom: 22px;
    padding-left: 35px;
    position: relative;
}

.pages .list01 li::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #1e3c72;
    top: 9px;
    left: 0;
}

.pages .list_check li {
    margin-bottom: 22px;
    padding-left: 35px;
    position: relative;
}

.pages .list_check li::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    border: solid #1e3c72;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: inline-block;
    top: 8px;
    left: 0;
}

.pages .list01:last-child,
.pages .list01 li:last-child,
.pages .list_check:last-child,
.pages .list_check li:last-child {
    margin-bottom: 0px;
}

/* ------------------------------------------------------
under frame
------------------------------------------------------ */
.pages .frame01 {
    background: rgba(255, 211, 216, 0.3);
    padding: 25px 30px 25px;
    margin: 0 auto 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.pages .frame01:last-child {
    margin: 0 auto;
}

/* ------------------------------------------------------
under_step
------------------------------------------------------ */
.pages .under_step dl {
    margin-bottom: 60px;
}

.pages .under_step dl:last-child {
    margin-bottom: 0px;
}

.pages .under_step dl dt {
    font-size: 18px;
    color: #fff;
    background: #e06277;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #e06277;
    padding: 10px 20px 5px;
    box-sizing: border-box;
}

.pages .under_step dl dt span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.pages .under_step dl dd {
    display: flex;
    align-items: center;
    border: 2px solid #e06277;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.pages .under_step dl:nth-child(odd) dd {
    flex-direction: row-reverse;
}

.pages .under_step dl dd .step_img {
    flex-shrink: 0;
    padding-left: 40px;
    margin-bottom: 0 !important;
    box-sizing: border-box;
}

.pages .under_step dl:nth-child(even) dd .step_img {
    padding: 0 40px 0 0;
}

/* ------------------------------------------------------
qa_dl
------------------------------------------------------ */
.pages .qa_dl dl {
    padding-left: 80px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.pages .qa_dl dl:after {
    position: absolute;
    z-index: -1;
    left: 25px;
    top: 0;
    height: 100%;
    width: 1px;
    content: '';
    display: block;
    border-left: rgba(119, 119, 119, 0.30) 1px dotted;
}

.pages .qa_dl dl:last-child {
    padding-bottom: 0;
}

.pages .qa_dl dl dt,
.pages .qa_dl dl dd {
    position: inherit;
    z-index: 1;
}

.pages .qa_dl dl dt span,
.pages .qa_dl dl dd span {
    position: absolute;
    z-index: 1;
    left: -80px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.pages .qa_dl dl dt {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #00478A;
    min-height: 50px;
    display: flex;
    align-items: center;
    line-height: 1.4em;
}

.pages .qa_dl dl dd {
    padding: 30px;
    background: rgba(109, 178, 216, 0.15);
}

/* ------------------------------------------------------
under_bnr
------------------------------------------------------ */
.pages .under_bnr_full {
    background: url(../images/under_btn_bg.jpg) no-repeat center;
    background-size: cover;
    width: 700px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    transition: all 0.25s linear;
}

.pages .under_bnr_full a {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 .5em;
}

/* ------------------------------------------------------
others
------------------------------------------------------ */
.pages .center {
    margin-bottom: 35px;
}

.pages .image_l {
    margin: 0 40px 15px 0;
}

.pages .image_r {
    margin: 0 0 15px 40px;
}

.pages .a_hover:hover {
    text-decoration: none;
}

/* ------------------------------------------------------
                        page compamy
------------------------------------------------------ */

#p-greeting {
    padding: 104px 0 56px 0;
    background: url('../images/company/company_message.jpg') center /cover;
}

#p-greeting .greeting_slogan {
    font-family: var(--jp-serif);
    letter-spacing: 0.075em;
    font-size: 30px;
    line-height: 2.3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 54px;
}

#p-greeting .greeting_slogan::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 60px;
    background: #fff;
}

#p-greeting .greeting_desc p {
    font-size: 16px;
    font-family: var(--jp-font);
    line-height: 2.375;
    margin-bottom: 38px;
    text-align: center;
}

#p-greeting .greeting_name {
    font-family: var(--jp-serif);
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.075em;
    line-height: 3.18;
    text-align: center;
}

#p_mv {
    height: 480px;
    background: url('../images/company/company_banner.jpg') center /cover;
    width: 100%;
    display: flex;
    position: relative;
}

#p_mv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#p_mv .inner {
    margin: auto;
}

#p_mv h2 {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 62px;
    font-weight: 600;
}

#p_mv span {
    display: block;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 22px;
    line-height: 1.75;
}

#p-outline {
    padding: 92px 0 0 0;
}

#p-outline .inner {
    max-width: 1000px;
}

#p-outline .outline_table {
    margin-top: 36px;
}

#p-access {
    padding: 8.2vw 0 11.6vw 0;
}

#p-access .inner {
    max-width: 100%;
    width: 100%;
}

#p-access .access_map {
    margin-top: 38px;
}

#p-access .access_map iframe {
    width: 100%;
    height: 63.2vh;
}

.pages h3.pages_title {
    font-size: 42px;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: var(--roboto);
    padding-bottom: 49px;
}

.pages h3.pages_title span {
    display: block;
    font-family: var(--jp-font);
    font-size: 15px;
}


/* ------------------------------------------------------
                        page about
------------------------------------------------------ */
#about {
    background: #15161a;
}

/*  strengths_layout*/
#strengths {
    padding: 114px 0 149px;
}

#strengths .inner {
    max-width: 100%;
    width: 100%;
}

.strengths_info {
    max-width: 1000px;
    width: 96%;
    margin: 0 auto 116px;
    position: relative;
    z-index: 1;
}

.strengths_info_title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.075em;
    line-height: 2;
    font-family: var(--jp-serif);
    margin-bottom: 55px;
}

.strengths_info_desc {
    padding: 0 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 2.5;
}

/* start slider */
.strengths_slider {
    position: absolute;
    top: 43px;
    z-index: 0;
}

.strengths_slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(21, 22, 26, 0.55);
    display: block;
    z-index: 2;
}

.swiper2 {
    width: 100vw;
    height: 500px;
    overflow: hidden;
}

.swiper2 {
    margin-top: 15px;
}

/* スライドの動き等速 */
.strengths_slider .swiper-wrapper {
    transition-timing-function: linear;
}

/* 画像のサイズ調整 */
.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.swiper2 .swiper-slide{
    min-height: unset;
} 
/* end slider */
.strengths_content1 {
    position: relative;
    z-index: 1;
}

.strengths_layout {
    max-width: 1200px;
    width: 96%;
    margin: 27px auto 222px;
}

.strengths__list {
    display: flex;
    margin: 0 -15px;
}

.strengths__item a {
    color: #fff;
    transition: all .3s linear;
    display: block;
    padding: 59px 22px 48px
}

.strengths__item figure {
    height: 211px;
}

.strengths__item {
    width: calc(100% / 3);
    border: 1px solid #fff;
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
    transition: all .3s linear;
}

.strengths__item img {
    transition: all .3s linear;
}

.strengths__item .hover {
    display: none;
}

.strengths__item:hover {
    background: #fff;
}

.strengths__item:hover .hover {
    display: unset;
}

.strengths__item:hover .unhover {
    display: none;
}

.strengths__item:hover .strengths__slogan {
    color: #15161a;
}

.strengths__slogan {
    font-size: 26px;
    letter-spacing: 0.075em;
    line-height: 1.6;
    transition: all .3s linear;
    font-weight: bold;
    margin-top: 10px;
}

/* strengths_content */
.strengths_content {
    width: 100%;
}

.c-content_item {
    display: flex;
    overflow: hidden;
}

.c-content_item.--reverse {
    flex-direction: row-reverse;
}

.c-content_bg {
    width: 61.1%;
}

.c-content_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.c-content_info {
    position: relative;
    z-index: 1;
    width: 47.3%;
    margin: 220px 0px 0px -8.3vw;
    background: #fff;
    color: #1a1a1a;
    padding: 90px 6% 100px 6%;
}

.c-content_item.--reverse .c-content_info {
    margin: 220px -8.3vw 0 0;
}

.c-content_title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.075em;
    line-height: 1.6;
    padding-bottom: 32px;
    position: relative;
}

.c-content_animate {
    position: absolute;
    background: #000;
    height: calc(100% - 32px);
    width: 100%;
    right: 0;
    top: 0;
}

.c-content_title::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    left: -25%;
    bottom: 0;
    background: #1A1A1A;
}

.c-content_item.--reverse .c-content_title::before {
    left: unset;
    right: -25%;
}

.c-content_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.25;
    margin-bottom: 45px;
}

/* button */
.c-content_btn {
    width: 100%;
    max-width: 260px;
    height: 58px;
    margin-bottom: 20px;
}

.c-content_btn_link {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.75;
    max-width: 260px;
    width: 100%;
    height: 58px;
    border: 1px solid #1a1a1a;
    display: flex;
    justify-content: center;
    color: #1a1a1a;
    align-items: center;
    position: relative;
    transition: all 0.3s linear;
    overflow: hidden;
}

.c-content_btn .c-content_btn_link::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    border-top: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
    top: 51%;
    right: 21px;
    transform: translateY(-50%) rotate(45deg);
}

.c-content_btn_link::after {
    position: absolute;
    content: '';
    z-index: 0;
    top: 50%;
    left: 50%;
    display: block;
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
    border: 173px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    transition: .5s;
}

.c-content_btn_link:hover::after {
    border-width: 0;
    border-color: rgba(26, 26, 26, 1);
}

/* button */
/* target */
#target {
    width: 100%;
    padding: 100px 0 137px;
    position: relative;
    background: url('../images/about/target_banner.jpg') center /cover;
    margin-bottom: 150px;
}

#target .inner {
    max-width: 1000px;
}

#target::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
}

.target_title {
    font-size: 30px;
    font-family: var(--jp-serif);
    letter-spacing: 0.075em;
    line-height: 2;
    text-align: center;
    margin-bottom: 41px;
}

.target_apply {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 80px;
    border: 1px solid #fff;
    padding: 45px 81px 43px;
}

.target_desc {
    font-size: 15px;
    line-height: 2.53;
    padding: 0 48px;
    margin-bottom: 54px;
}

.target_apply_title {
    text-align: center;
    font-family: var(--jp-serif);
    font-size: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
}

.target_apply_list {
    display: flex;
    justify-content: space-between;
}

.target_apply_item {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 2.15;
}

/* ---------------------------------------------------
                    page services
------------------------------------------------------- */
.p_services #p_mv,
#response {
    position: relative;
    z-index: 10;
}

#response {
    padding: 38px 0 0;
    background: #15161a;
}

.fservices {
    background-color: #15161a;
    position: relative;
    z-index: 1;
}

#response .inner {
    max-width: 100%;
    width: 100%;
}

.response-content {
    max-width: 1134px;
    width: 96%;
    margin: 80px auto 135px;
    display: flex;
}

.response_title {
    display: flex;
}

.response_title h3 {
    font-family: var(--jp-serif);
    margin: auto;
    font-size: 40px;
    letter-spacing: 0.075em;
    line-height: 1.75;
}

.response_desc {
    padding-left: 4.9vw;
    width: 45%;
    font-weight: 400;
    line-height: 2.4;
    font-size: 15px;
    flex: 1;
}

.response_img {
    display: flex;
}

.response_img figure {
    width: calc(100% / 3);
    height: 26.667vw;
}

.response_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* start scroll */
.makewall {
    position: relative;
    z-index: 1;
}

.makewall .inner {
    display: flex;
    height: 40vh;
}

.content01 {
    position: relative;
    z-index: 1;
}

.content01_title {
    font-size: 36px;
    letter-spacing: 0.075em;
    margin-bottom: 52px;
}

.content01_desc {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 2.25;
}

.content01_desc:not(:last-child) {
    margin-bottom: 36px;
}

.content01.active .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation: get_smaller linear .6s;
    transition: all .3s linear;
}

.content01.active .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: shadow .6s linear 0.4s forwards;
}

@keyframes shadow {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.8;
        background: rgba(0, 0, 0, 0.65);
    }
}

@keyframes get_smaller {
    from {
        opacity: 0;
        transform: scale(1.02);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.content01 .inner {
    display: flex;
    height: 100vh;
    max-width: 1000px;
}

.content01 .content01_info {
    margin: auto;
}
/* end scroll */

.background_services{
    position: relative;
    z-index: 1;
    background: #15161A;
    height: 200px;
}
/* MOZZILLA CSS */
@-moz-document url-prefix() {}

/* IE CSS */
@media screen\0 {}

/* EDGE 12+ CSS */
@supports (-ms-ime-align:auto) {}