@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1150px) {}

@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {
    /* -------------- start page company  ----------------*/
    #p_mv h2 {
        font-size: 28px;
    }
    #p_mv span{
        font-size: 14px;
    }
    .pages h3.pages_title {
        font-size: 30px;
        padding-bottom: 45px;
    }
    .pages h3.pages_title span{
        font-size: 14px;
    }
    /* -------------- end page company  ----------------*/

}

@media screen and (max-width: 992px) {
    /* -------------- start page company  ----------------*/
    #p_mv{
        height: 280px;
        padding-top: 80px;
    }
    #p-greeting{
        padding: 55px 0;
    }
    #p-outline{
        padding-top: 45px;
    }
  
    #p-greeting .greeting_desc p{
        margin-bottom: 25px;
        font-size: 14px;
    }
 
    #p-greeting .greeting_slogan{
        font-size: 22px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        line-height: 2.1;
    }
    #p-greeting .greeting_name{
        font-size: 18px;
    }
    #p-access .access_map iframe{
        height: 55vh;
    }
    /* -------------- end page company  ----------------*/
}

@media screen and (max-width: 768px) {
    /* -------------- start page company  ----------------*/
    #p-access .access_map {
        margin-top: 0;
    }
    #p-access{
        padding-top: 50px;
    }
    #p-outline .outline_table{
        margin-top: 0;
    }

    .pages .image_r,
    .pages .image_l {
        float: none;
        text-align: center;
        margin: 0 0 20px;
    }

    /*topic path*/
    .pages #topic_path {
        margin: 0 0 35px;
    }

    .pages #topic_path ul {
        padding: 25px 0 0;
    }

    /*-----table-----*/

    .pages table th,
    .pages table td {
        padding: 12px 8px;
    }

    .pages table th {
        font-size: 14px;
       padding-bottom: 0;
    }

    /*-----table scroll------*/
    .pages .tb_scroll {
        overflow: scroll;
        margin-bottom: 10px
    }

    .pages .tb_scroll > table {
        width: 800px;
        border: 2px solid #118abf;
    }

    .pages #content .txt_note {
        display: block;
        font-size: 12px;
        color: #AFAFAF;
        margin-bottom: 8px;
    }

    /*-----table block-----*/
    .pages #content table.tb_block tr th,
    .pages #content table.tb_block tr td {
        display: block !important;
        width: 100% !important;
        box-sizing: border-box;
    }

    .pages table.tb_block tr th,
    .pages table.tb_block tr td {
        border-bottom: none;
    }

    .pages table.tb_block tr th {
        text-align: left;
    }

    .pages table.tb_block tr:last-child td:last-child {
        border-bottom: 1px solid #118abf;
    }

    /*tb_cal*/
    .pages .tb_cal th {
        line-height: 1.3;
    }

    .pages .tb_cal td {
        font-size: 15px;
    }
    #p-access .access_map iframe{
        height: 299px;
    }
    /* -------------- start page company  ----------------*/
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 490px) {}

@media screen and (max-width: 390px) {}

@media screen and (max-width: 320px) {}
