@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1150px) {
    /* -------------- start page about  ----------------*/
        /* c-content */
        .c-content_info{
            margin-top: 130px;
            padding: 50px 4%;
        }
        .c-content_title::before{
            left: -23%;
        }
        .c-content_item.--reverse .c-content_title::before{
            right: -23%;
        }
        .c-content_title{
            font-size: 20px;
        }
        .c-content_desc{
            font-size: 15px;
        }
        /* slider */
        .swiper2 {
            height: 400px;
        }
        .strengths_slider::before {
            height: 500px;
        }
    /* -------------- end page about  ----------------*/
}

@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {
    /* -------------- start page company  ----------------*/
    #p_mv h2 {
        font-size: 28px;
    }
    #p_mv span{
        font-size: 14px;
    }
    .pages h3.pages_title {
        font-size: 30px;
        padding-bottom: 45px;
    }
    .pages h3.pages_title span{
        font-size: 14px;
    }
    /* -------------- end page company  ----------------*/

}

@media screen and (max-width: 992px) {
    /* -------------- start page company  ----------------*/
    #p_mv{
        height: 280px;
        padding-top: 80px;
    }
    #p-greeting{
        padding: 55px 0;
    }
    #p-outline{
        padding-top: 45px;
    }
  
    #p-greeting .greeting_desc p{
        margin-bottom: 25px;
        font-size: 14px;
    }
 
    #p-greeting .greeting_slogan{
        font-size: 22px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        line-height: 2.1;
    }
    #p-greeting .greeting_name{
        font-size: 18px;
    }
    #p-access .access_map iframe{
        height: 55vh;
    }
    /* -------------- end page company  ----------------*/

    /* -------------- start page about  ----------------*/
    .c-content_info{
        margin-top: 100px;
        padding: 40px 3%;
    }
    .c-content_title{
        padding-bottom: 20px;
    }
    .strengths_info_title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .strengths_info_desc{
        font-size: 14px;
    }
    .strengths__list{
        flex-direction: column;
        margin: 0;
    }
    .strengths__item{
        width: 55%;
        margin: 0 auto  45px;
    }
    .strengths__slogan{
        font-size: 22px;
    }
    #target{
        padding: 55px 0;
    }
    .target_title{
        font-size: 18px;
        margin-bottom: 25;
    }
    .target_desc{
        padding: 0;
        margin-bottom: 45px;
    }
    .target_apply{
        padding: 15px 15px;
        margin-bottom: 55px;
    }
    .target_apply_title{
        font-size: 22px;
    }
    .target_apply_item {
        font-size: 16px;
    }
    /* slider */
    .swiper2{
        height: 320px;
    }
    /* -------------- end page about  ----------------*/

}

@media screen and (max-width: 768px) {
    /* -------------- start page company  ----------------*/
    #p-access .access_map {
        margin-top: 0;
    }
    #p-access{
        padding-top: 50px;
    }
    #p-outline .outline_table{
        margin-top: 0;
    }

    .pages .image_r,
    .pages .image_l {
        float: none;
        text-align: center;
        margin: 0 0 20px;
    }

    /*topic path*/
    .pages #topic_path {
        margin: 0 0 35px;
    }

    .pages #topic_path ul {
        padding: 25px 0 0;
    }

    /*-----table-----*/

    .pages table th,
    .pages table td {
        padding: 12px 8px;
    }

    .pages table th {
        font-size: 14px;
       padding-bottom: 0;
    }

    /*-----table scroll------*/
    .pages .tb_scroll {
        overflow: scroll;
        margin-bottom: 10px
    }

    .pages .tb_scroll > table {
        width: 800px;
        border: 2px solid #118abf;
    }

    .pages #content .txt_note {
        display: block;
        font-size: 12px;
        color: #AFAFAF;
        margin-bottom: 8px;
    }

    /*-----table block-----*/
    .pages #content table.tb_block tr th,
    .pages #content table.tb_block tr td {
        display: block !important;
        width: 100% !important;
        box-sizing: border-box;
    }

    .pages table.tb_block tr th,
    .pages table.tb_block tr td {
        border-bottom: none;
    }

    .pages table.tb_block tr th {
        text-align: left;
    }

    .pages table.tb_block tr:last-child td:last-child {
        border-bottom: 1px solid #118abf;
    }

    /*tb_cal*/
    .pages .tb_cal th {
        line-height: 1.3;
    }

    .pages .tb_cal td {
        font-size: 15px;
    }
    #p-access .access_map iframe{
        height: 299px;
    }
    /* -------------- start page company  ----------------*/

    /* -------------- start page about  ----------------*/
    #strengths{
        padding: 45px 0 55px;
    }
    .strengths__item{
        max-width: 330px;
        width: 96%;
    }
    .strengths_info_title{
        font-size: 16px;
    }
    .strengths_info_desc{
        padding: 0;
    }
    .strengths_info{
        margin-bottom: 55px;
    }
    .strengths__slogan{
        font-size: 16px;
    }
    .strengths__item img{
        width: 120px;
    }
    .strengths_layout{
        margin-bottom: 0;
        margin-top: 0;
    }
    .swiper2{
        height: 256px;
    }
    .strengths__item a{
        padding: 30px 20px;
    }
    .c-content_item{
        flex-direction: column;
    }
    .c-content_item.--reverse{
        flex-direction: column;
    }
    .c-content_bg{
        width: 100%;
    }
    .c-content_info{
        width: 100%;
        margin: 0;
        padding: 45px 20px 55px;
    }
    .c-content_item.--reverse .c-content_info{
        margin: 0;
    }
    .c-content_title{
        font-size: 18px;
    }
    .c-content_title::before{
        display: none;
    }
    .c-content_desc{
        font-size: 14px;
    }
    .c-content_btn{
        margin: 0 auto;
    }
    .target_apply_title {
        font-size: 18px;
    }
    .target_apply_list{
        flex-direction: column;
    }
    .target_apply_item{
        font-size: 14px;
    }
    .target_apply_list ul:not(:last-child){
        margin-bottom: 20px;
    }
    /* -------------- start page about  ----------------*/
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 490px) {
    .swiper2{
        height: 168px;
    }
}

@media screen and (max-width: 390px) {}

@media screen and (max-width: 320px) {}
